/* Eksempler på farger */


:root {
    /* Light mode */
    --color-primary: #2e7d32;       /* Skoggrønn Overskrift, knapper, viktige elementer. */
    --color-secondary: #81c784;     /* Mosegrønn Bakrunner, hover-effekter. */
    --color-accent: #4fc3f7;        /* Himmelblå Lenker, infografikk, detaljer */
    --color-bg: #f5f5f5;            /* Lys grå / beige Hovedbakgrunn */
    --color-text: #333333;          /* Mørke grå / brun Brødtekst */
    --color-border: #333333;        /* Svart grå, bruk til border */
}

:root.dark{
    /* Dark mode */
    --color-primary: #2e7d32;
    --color-secondary: #81c784;
    --color-accent: #4fc3f7;
    --color-bg: #232527;
    --color-text: #ffffff;
    --color-border: #bebebe;
}


/* Built in */

body{
    background-color: var(--color-bg);
    color: var(--color-text);
    /*font-family: "Milonga", serif;
    font-weight: 400;
    font-style: normal;*/
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

table{
    border: solid var(--color-border) 1px;
}

td{
    border: solid var(--color-border) 1px;
    margin: 0;
    padding: 0;
}

ul{
    text-align: start;
}



/* Header */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Main */

main{
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

@media screen and (min-width: 1050px) {
    main {
        border: solid var(--color-border) 1px;
        border-radius: 5px;
        padding: 10px;
    }
}

.modul {
    margin-top: 6rem;
    text-align: center;
}

main p, h2 {
    margin: 0;
}

main p {
    margin-bottom: 10px;
}

.info {
    width: 100%;
}

.canvas-container{
    max-width: 600px;
    margin: auto;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.img {
    width: 50%;
    margin-bottom: 15px;
}

/* Footer */

footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    margin-top: 15px;
}

footer > div{
    margin: 15px;
    overflow-x: auto;
}

footer a {
    text-wrap: auto; 
}
